<div class="rounded-md bg-white p-6 dark:bg-slate-800 dark:text-white border border-slate-300/70 dark:border-slate-600/70 md:w-[350px]">
  <script async
          src="https://js.stripe.com/v3/buy-button.js">
  </script>

  <stripe-buy-button
    buy-button-id="buy_btn_1PC5rARpXIS2OKDBYh5y8Rff"
    publishable-key="pk_test_51P9d1QRpXIS2OKDBIcv4324FMUKAEoAYoIkJBVZE2k7SZ5anTqPP2EFy0GdYCEnRjNf7f0D7vVZej0MEfG04OozR007uq7cAzx"
  >
  </stripe-buy-button>
</div>

<div class="rounded-md bg-white p-6 dark:bg-slate-800 dark:text-white border border-slate-300/70 dark:border-slate-600/70 md:w-[350px]">
  <script async
          src="https://js.stripe.com/v3/buy-button.js">
  </script>

  <stripe-buy-button
    buy-button-id="buy_btn_1PC5j9RpXIS2OKDBP6IJZsEB"
    publishable-key="pk_test_51P9d1QRpXIS2OKDBIcv4324FMUKAEoAYoIkJBVZE2k7SZ5anTqPP2EFy0GdYCEnRjNf7f0D7vVZej0MEfG04OozR007uq7cAzx"
  >
  </stripe-buy-button>
</div>

<div class="rounded-md bg-white p-6 dark:bg-slate-800 dark:text-white border border-slate-300/70 dark:border-slate-600/70 md:w-[350px]">
  <script async
          src="https://js.stripe.com/v3/buy-button.js">
  </script>

  <stripe-buy-button
    buy-button-id="buy_btn_1PC5sZRpXIS2OKDBKVAIixge"
    publishable-key="pk_test_51P9d1QRpXIS2OKDBIcv4324FMUKAEoAYoIkJBVZE2k7SZ5anTqPP2EFy0GdYCEnRjNf7f0D7vVZej0MEfG04OozR007uq7cAzx"
  >
  </stripe-buy-button>
</div>