<h1 class="font-bold text-4xl">New post</h1>

<%= form_with(model: @post, url: manager_posts_path, class: 'relative') do |form| %>
  <div class="flex justify-between items-center mb-4">
    <h1 class="text-2xl"></h1>
    <%= form.submit class: "flex items-center justify-center text-white bg-blue-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800" %>
  </div>

  <%= render "form", post: @post, form: form %>
<% end %>