<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<h1><%= t('mailer.goals.finished.subject') %></h1>
<p>Isso é só um <%= @variable %></p>
</body>
</html>
